body{
    margin: 0px;
    padding: 0px;
}
.container{
    margin: auto;
    width: 1200px;
}


/*Global color*/
h1{
    text-align: center;
}
h1 .purple{
    color: blueviolet;
    font-weight: bold
}
h1 .blue{
    color: blue;
    font-weight: bold
}
h1 .red{
    color: red;
    font-weight: bold
}
p .green{
    color: green;
    text-indent: 50px;
}
p .blue{
    color: blue;
    text-indent: 50px;
}