body{
    margin: 0px;
    padding: 0px;
}
.container{
    margin: auto;
    width: 1200px;
}


/*Global css*/
h1{
    text-align: center;
}
h1 .purple{
    color: blueviolet;
    font-weight: bold
}
h1 .blue{
    color: blue;
    font-weight: bold
}
h1 .red{
    color: red;
    font-weight: bold
}
p {
    text-indent: 50px;
}
p .green{
    color: green;
}
p .blue{
    color: blue;
}
.blockblue{
    border: 3px solid blue;
    padding: 20px;
}
.blockyellow{
    border: 5px solid yellow;
    padding: 50px;
}
.blockbluepage1{
    border: 3px solid blue;
    padding: 10px;
    width: 40%;
    margin: auto;
}
.blockyellowpage1{
    border: 5px solid yellow;
    padding: 30px 5px 30px 5px;
    background-color: #4F81BD;
    color: white;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    
}
/*Topic*/
.topic_purple{
    background-color: yellow;
    color: blueviolet;
    padding: 10px 0px 10px 10px;
    border: 1px dotted palevioletred;
    border-radius: 5px;
    font-family: Arial,Helvelica,sans-serif;
    font-size: 1.5em;
}
.topic_blue{
    background-color: yellow;
    color: blue;
    padding: 10px 0px 10px 10px;
    border: 1px dotted palevioletred;
    border-radius: 5px;
    font-family: Arial,Helvelica,sans-serif;
    font-size: 1.5em;
}
/*Images Content Postion*/
.content-img{
    text-align: center;
}